<nav class="navbar navbar-default">

	<div class="container-fluid">
		<div>
			<a class="navbar-brand" [routerLink]="['/']">NusiakowyPlan</a>
	    </div>

	    <ul class="nav navbar-nav navbar-left">
	    	<li *ngIf="(afAuth.authState | async)"><a [routerLink]="['/monday']">Poniedziałek</a></li>
	    	<li *ngIf="(afAuth.authState | async)"><a [routerLink]="['/tuesday']">Wtorek</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li *ngIf="!(afAuth.authState | async)"><a (click)="login()">Login</a></li>
	    	<li *ngIf="(afAuth.authState | async)"><a (click)="logout()">Logout</a></li>
	    </ul>
	</div>
</nav>